<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sghaier.foodin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name=".Subscribe"
            android:label="S'inscrire" />
        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdressDelivery"
            android:label="Adresse de livraison" />
        <activity android:name=".Account" />
        <activity
            android:name=".Editinfos"
            android:label="Modifier mon profil"
             />
        <activity android:name=".Resto_detaille" />
        <activity
            android:name=".Restau"
            android:label="Restaurants" />
        <activity
            android:name=".Final_Command"
            android:label="@string/title_commande_final" />
        <activity
            android:name=".Pannier"
            android:label="@string/title_commande_final" />
        <activity android:name=".CardRestau" />
        <activity
            android:name=".HistoriqueCommande"
            android:label="Historique des commandes" />
        <activity android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Temp"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".Suivi" />
        <activity android:name=".tabshost" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Bot" />
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>
